@model WebApplication5.Models.Tablemy4Tables1101661
@{
    ViewBag.Title = "index";
}

@ViewBag.Err
<h1>1101661褚宥辰</h1>
<h2>帳號登入</h2>
<form action="@Url.Action("index")" method="post">
    @Html.LabelFor(m => m.Id) @Html.EditorFor(m => m.Id)<br />
    @Html.LabelFor(m => m.Password) @Html.PasswordFor(m => m.Password) <br /><br />
    <input type="submit" value="查詢" class="btn btn-primary" />
</form>
<br />
<br />
編號:1
<br />
密碼:123